@charset "utf-8";
* {
    padding:0;
    margin:0
}
html {
    min-width:980px
}
body {
    font-size:12px;
    background:#fff;
    min-width:980px;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1020?"1020px":"")
}
body a {
    color:#5199fd;
    text-decoration:none;
    cursor:pointer;
    font-size:12px
}
ul {
    list-style:none outside none
}
section {
    padding-left:-50px;
    padding-right:-50px
}
.clear {
    clear:both
}
.clearfix {
    overflow:hidden;
    *zoom:1
}
.clearfix:after {
    content:"\20";
    display:block;
    height:0;
    visibility:hidden;
    clear:both
}
.login-header {
    padding:10px 0 0 12px;
    _padding:0
}
.footer {
    bottom:0;
    min-width:980px;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1020?"1020px":"100%");
    text-align:center;
    margin-top:40px;
    padding-top:30px;
    _margin-top:10px;
    padding:30px 0;
    clear:both;
    color:#666;
    font:12px/1.5 tahoma,arial,宋体
}
.footer span,.footer a {
    color:#666
}
.footer .footer-mail {
    color:#2974b6
}
.footer a:hover {
    text-decoration:underline
}
.b-list-item {
    *display:inline
}
.b-list-item a,.b-list-item span {
    font:12px/1.5 simsun,tahoma,arial;
    color:#457db5
}
.b-no-ln,.b-no-ln:link,.b-no-ln:visited {
    text-decoration:none
}
.b-no-ln:hover,.b-no-ln:active {
    text-decoration:underline
}
#login-header {
    height:60px;
    border-bottom:1px solid #b3b3b3;
    box-shadow:0 0 5px #c3c3c3;
    min-width:960px;
    background:#fff url('/static/images/headerbg.png?r=201607064914?t=20130126') 0 2px repeat-x;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1020?"1020px":"")
}
.yun-logo {
    display:block;
    float:left;
    height:44px;
    outline:medium none;
    text-indent:-9999em;
    width:140px
}
.pan-logo {
    display:block;
    float:left;
    height:44px;
    margin:0 0 0 5px;
    outline:medium none;
    text-indent:-9999em;
    width:40px
}
.logo-main {
    float:left;
    height:48px;
    margin:10px 0 0 25px;
    overflow:hidden;
    width:auto;
    display:inline
}
.logo-main .yun-logo {
    background:url("/static/images/new/download-all.gif?r=201607064914?t=20130126") no-repeat scroll -636px 0 transparent
}
.login-title,.login-title a {
    color:#2974b6
}
.login-title {
    float:right;
    margin:25px 20px 0 0
}
#top_menu_other {
    color:#f00
}
#top_menu_other {
    display:inline-block;
    *display:inline;
    zoom:1;
    height:36px;
    line-height:36px;
    background:0 -6px no-repeat;
    padding-left:56px;
    margin-top:-11px;
    _position:relative;
    *padding-right:4px
}
.header-tab {
    width:316px;
    height:40px;
    background:url("/static/images/new/download-all.gif?r=201607064914?t=20130126") -305px 0 no-repeat;
    position:absolute;
    z-index:1000;
    top:10px;
    left:3px
}
ul.header-tab li {
    float:left;
    width:158px;
    line-height:40px;
    color:#2486c4;
    text-align:center;
    cursor:pointer;
    font-size:14px
}
ul.header-tab .current {
    font-weight:bold
}
.clientDownload {
    background:url("/static/images/new/download-all.gif?r=201607064914?t=20130126") -690px -49px repeat-x;
    width:85px;
    height:38px;
    display:block;
    float:left;
    text-indent:-999em
}
.download-head {
    border-top:1px solid #b3b3b3;
    background:#f7f7f7 url("/static/images/new/download-head.png?r=201607064914?t=20130308") 0 0 repeat-x;
    height:93px;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1020?"1020px":"")
}
.tab-download {
    display:block;
    margin:0 auto;
    width:971px
}
.tab-download li {
    float:left;
    width:161px;
    display:block;
    border-right:1px solid #bebebe
}
.tab-download li a {
    display:block;
    height:93px;
    cursor:pointer;
    outline:0;
    position:relative
}
.tab-download li a em {
    position:absolute;
    top:29px;
    left:126px;
    width:32px;
    height:15px;
    background:url("/static/images/new/download-all.gif?r=201607064914?t=20130126") -14px -250px repeat-x
}
.tab-download li a span {
    height:35px;
    margin:auto 0;
    text-indent:-999em;
    position:relative;
    top:32px;
    display:block;
    background:url("/static/images/new/download-all.gif?r=201607064914?t=20130126") 0 -1px repeat-x
}
.tab-download .windows span {
    background-position:8px -129px
}
.tab-download .android span {
    background-position:-164px -129px
}
.tab-download .iphone span {
    background-position:-343px -129px
}
.tab-download .ipad span {
    background-position:-493px -129px
}
.tab-download .wphone span {
    background-position:-614px -128px
}
.tab-download .tongbupan span {
    background-position:-765px -129px
}
.tab-download .windows:hover span {
    background-position:8px -185px
}
.tab-download .android:hover span {
    background-position:-163px -184px
}
.tab-download .iphone:hover span {
    background-position:-343px -184px
}
.tab-download .ipad:hover span {
    background-position:-493px -184px
}
.tab-download .wphone:hover span {
    background-position:-614px -184px
}
.tab-download .tongbupan:hover span {
    background-position:-765px -184px
}
.tab-download li a:hover {
    background:url("/static/images/new/hover_bg.png?r=201607064914?t=20130126") 0 -1px repeat-x
}
.tab-download .on .windows span {
    background-position:8px -185px
}
.tab-download .on .android span {
    background-position:-163px -184px
}
.tab-download .on .iphone span {
    background-position:-343px -184px
}
.tab-download .on .ipad span {
    background-position:-493px -184px
}
.tab-download .on .wphone span {
    background-position:-614px -184px
}
.tab-download .on .tongbupan span {
    background-position:-765px -184px
}
.tab-download .on a {
    background:url("/static/images/new/hover_bg.png?r=201607064914?t=20130126") 0 -1px repeat-x
}
.tab-download .last {
    border-right:0
}
.download-info {
    background:url(/static/images/new/download_bg.png?r=201607064914?t=20151112) 0 0 repeat-x;
    height:438px;
    overflow:hidden;
    border-bottom:1px solid #dadada;
    _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1020?"1020px":"")
}
.tongbupan-content {
    background:url(/static/images/new/download_bg.png?r=201607064914?t=20151112) 0 0 repeat-x
}
.content {
    display:none
}
.content-info {
    margin:0 auto;
    position:relative;
    width:1040px;
    height:470px
}
.content-info .clint {
    position:absolute;
    line-height:23px;
    color:#fff;
    font-size:12px;
    font-family:"microsoft yahei";
    top:200px;
    left:585px;
    width:380px
}
.content-info .windows-c {
    width:248px;
    left:596px
}
.content-info .mac-c {
    left:590px;
    width:210px
}
.content-info .guanjia-c {
    top:200px;
    left:622px
}
.content-info .clint .first {
    float:left;
    margin-right:25px
}
.windows-content .content-info {
    background:url("/static/images/new/guanjia_bg.jpg?r=201607064914?t=20130126") 0 0 no-repeat
}
.clint a {
    display:block;
    height:58px;
    width:182px;
    margin-top:5px;
    background:url("/static/images/new/download-all.gif?r=201607064914?t=20130126") no-repeat;
    outline:0
}
.clint .clint-guanjia {
    width:261px;
    height:65px
}
.android-c a {
    background-position:-17px -290px
}
.android-c a:hover {
    background-position:-17px -355px
}
.android-c a:active {
    background-position:-17px -420px
}
.guanjia-c a {
    float:left
}
.guanjia-c .clint-guanjia {
    background-position:-410px -290px
}
.guanjia-c .clint-guanjia:hover {
    background-position:-410px -359px
}
.guanjia-c .clint-guanjia:active {
    background-position:-410px -433px
}
.windows-c .clint-windows {
    background-position:-892px -292px
}
.windows-c .clint-windows:hover {
    background-position:-892px -358px
}
.windows-c .clint-windows:active {
    background-position:-892px -425px
}
.mac-c .clint-mac {
    width:187px;
    height:64px;
    background-position:-691px -292px
}
.mac-c .clint-mac:hover {
    background-position:-691px -362px
}
.mac-c .clint-mac:active {
    background-position:-691px -432px
}
.wphone-c a {
    background-position:-209px -289px
}
.wphone-c a:hover {
    background-position:-209px -355px
}
.wphone-c a:active {
    background-position:-209px -419px
}
.clint-store {
    float:left;
    margin-right:12px
}
.clint-download {
    float:left
}
.iphone-c .clint-store,.ipad-c .clint-store {
    background-position:-16px -485px
}
.iphone-c .clint-store:hover,.ipad-c .clint-store:hover {
    background-position:-16px -550px
}
.iphone-c .clint-store:active,.ipad-c .clint-store:active {
    background-position:-16px -615px
}
.iphone-c .clint-download,.ipad-c .clint-download {
    background-position:-199px -196px
}
.iphone-c .clint-download:hover,.ipad-c .clint-download:hover {
    background-position:-199px -261px
}
.iphone-c .clint-download:active,.ipad-c .clint-download:active {
    background-position:-199px -326px
}
.android-content .content-info {
    background:url("/static/images/new/android_bg.jpg?r=201607064914?t=20130624") 0 -1px no-repeat
}
.iphone-content .content-info {
    background:url("/static/images/new/iphone_bg.jpg?r=201607064914?t=20130308") 0 -1px no-repeat
}
.ipad-content .content-info {
    background:url("/static/images/new/ipad_bg.jpg?r=201607064914?t=20130308") 0 -1px no-repeat
}
.wphone-content .content-info {
    background:url("/static/images/new/wphone_bg.jpg?r=201607064914?t=20130307") 0 -1px no-repeat
}
.tongbupan-content .content-info {
    background:url(/static/images/new/mac.jpg?r=201607064914?t=20151112) 0 0 no-repeat
}
.download-bottom {
    border-bottom:1px solid #dadada
}
.download-method {
    width:960px;
    _width:1020px;
    height:166px;
    margin:0 auto;
    background:#fff
}
.phone-method {
    float:left;
    margin-top:38px;
    margin-left:40px;
    _margin-left:20px;
    width:535px;
    _width:600px
}
.line-text,.first-text {
    font-size:20px;
    font-family:"microsoft yahei";
    color:#333;
    margin-bottom:20px
}
.error-text {
    color:#f00;
    line-height:25px;
    display:none;
    word-break:keep-all
}
.line-info input,.line-info img,.line-info a {
    float:left;
    display:block
}
.phoneNumber {
    height:28px;
    width:186px;
    color:gray;
    line-height:28px
}
.verifyCode {
    line-height:28px;
    height:28px;
    width:108px;
    margin-left:17px;
    color:gray
}
.line-info img {
    margin-left:6px;
    cursor:pointer;
    width:100px;
    height:30px
}
.line-info a {
    height:32px;
    _width:101px;
    line-height:32px;
    outline:0;
    margin-left:10px;
    background:url("/static/images/new/btn_sprite.gif?r=201607064914?t=20130126") 0 -56px no-repeat;
    padding-left:10px
}
.line-info a b {
    height:32px;
    line-height:32px;
    width:60px;
    _width:71px;
    text-align:center;
    display:block;
    text-decoration:none;
    cursor:pointer;
    font-size:14px;
    padding:0 20px 0 10px;
    background:url("/static/images/new/btn_sprite.gif?r=201607064914?t=20130126") right -56px no-repeat;
    color:#fff
}
.line-info a:hover {
    background-position:0 0
}
.line-info a:hover b {
    background-position:right 0
}
.line-info a:active {
    background-position:0 -113px
}
.line-info a:active b {
    background-position:right -113px
}
.line-info a.diabled {
    text-decoration:none;
    zoom:1px
}
.line-info a.disabled,.line-info a.disabled:hover,.line-info a.disabled:active {
    cursor:default;
    pointer-events:none;
    color:#f00;
    background-position:0 -158px;
    opacity:1;
    filter:none;
    -ms-filter:none
}
.line-info a.disabled b,.line-info a.disabled:hover b,.line-info a.disabled:active b {
    background-position:right -158px;
    cursor:default;
    pointer-events:none;
    color:#c0bbbb;
    opacity:1;
    filter:none;
    -ms-filter:none
}
.line-info a.waitminute {
    padding-left:2px;
    _padding-left:10px;
    margin-left:3px
}
.line-info a.waitminute b {
    width:100px;
    font-size:12px;
    padding:0 2px 0 0;
    _padding:0 20px 0 10px
}
.two-dimension-code {
    float:right;
    margin-right:40px;
    _margin-right:80px;
    margin-top:38px
}
.two-dimension-code-text {
    width:160px;
    float:left;
    *margin-left:45px;
    _margin-left:0
}
.two-text {
    font-size:12px;
    font-family:"microsoft yahei";
    line-height:18px;
    color:#333
}
.two-dimension-code-main {
    background:url("/static/images/new/baidu_app_link.png?r=201607064914?t=20130126") 0 0 no-repeat;
    float:right;
    width:99px;
    height:99px;
    margin-left:32px
}
.two-dimension-code-main.fr_pinzhuan,.two-dimension-code-main.fr_fengchao,.two-dimension-code-main.fr_wangmeng {
    background:url("/static/images/new/baidu_app_link_webtype.png?r=201607064914") 0 0 no-repeat
}
.two-dimension-code-main.fr_pinzhuan {
    background-position:0 0
}
.two-dimension-code-main.fr_fengchao {
    background-position:-100px 0
}
.two-dimension-code-main.fr_wangmeng {
    background-position:-200px 0
}
